<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- In a sample application it is okay to use an in-memory database, that is why the connection string is commented.
    <add name="xpf.printing" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=|DataDirectory|/ExportService.mdb;user id=Admin;password=;" />
    -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ExportServiceRestBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ExportServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ExportServiceBinding" maxReceivedMessageSize="50000000" transferMode="Streamed">
          <readerQuotas maxArrayLength="50000000" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="ExportServiceRestBinding" transferMode="Streamed" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ExportServiceBehavior" name="E3916.Web.DemoExportService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ExportServiceBinding" contract="DevExpress.Xpf.Printing.Service.IExportService" />
        <endpoint address="rest" behaviorConfiguration="ExportServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="ExportServiceRestBinding" contract="DevExpress.Xpf.Printing.Service.IExportServiceRest" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>